@using Repositorio
@model ViewModelSubCategoria
@{
    ViewBag.Title = "Categorias";
}

<h2>Busca CID</h2>
<div class="span12" style="margin-left: 0">
    @Html.Partial("_formBusca")
    <div class="span9">
    </div>
    <div class="span9">
        <div class="row">
            @*@{
                var capitulo = (ViewModelCapitulo)ViewBag.capitulo;
                var titulo = capitulo.Descricao.Split('-');
                titulo[0] = titulo[0].Trim();
                titulo[1] = titulo[1].Trim();

                var grupo = (ViewModelGrupo)ViewBag.grupo;
            }
            <h1>@titulo[0]</h1>
            <p>@titulo[1]</p>

            <h2>Grupo entre @grupo.CategoriaInicial e @grupo.CategoriaFinal</h2>
            <p>@grupo.Descricao</p>*@
        </div>
        <div class="row">

            <div class="span9" style="margin-left: 0; height: 110px; padding: 5px;">

                <h3>@Model.CodigoDaSubCategoria - @Model.Descricao</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Classificação</td>
                            <td>
                                @switch (Model.Classificacao.ToUpper())
                                {
                                    case "+":
                                        {
                                    @:Classificação por etiologia
                                            break;
                                        }
                                    case "*":
                                        {
                                    @:Classificação por manifestação
                                            break;
                                        }
                                    default:
                                        {
                                    @:Não tem dupla classificação
                                            break;
                                        }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Restrição de Sexo</td>
                            <td>
                                @switch (Model.RestricaoDeSexo.ToUpper())
                                {
                                    case "F":
                                        {
                                    @:Só pode ser utilizada pra sexo feminino
                                            break;
                                        }
                                    case "M":
                                        {
                                    @:Só pode ser utilizada para sexo masculino
                                            break;
                                        }
                                    default:
                                        {
                                    @:Pode ser utilizada em qualquer situação
                                            break;
                                        }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Causa Óbito</td>
                            <td>
                                @switch (Model.CausaObito.ToUpper())
                                {

                                    case "N":
                                        {
                                    @:A subcategoria tem pouca probabilidade de causar óbito
                                            break;
                                        }
                                    default:
                                        {
                                    @:Não há restrição
                                            break;
                                        }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Referência</td>
                            <td>
                                @if (string.IsNullOrEmpty(Model.Referencia))
                                {
                                    @: Não há
                                }else
                                {
                                    @Model.Referencia
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
